# 项目排除路径
/iot-access/target/
/iot-api/target/
/iot-common/target/
/iot-core/target/
/iot-simulator/target/
/iot-miniapp/node_modules/
/iot-miniapp/dist/
/iot-frontend/node_modules
iot-api/src/main/resources/static/

*.iml
/.idea/
